@font-face {
  font-family: 'SpartanMB';
  src: URL('../fonts/SpartanMB.otf');
}

.logo {
  height: 40px;
}

.logo-font {
  color: #5a2ab5;
  font-family: 'SpartanMB';
}

.navbar-brand {
  padding: 5px 10px 5px 20px;
}

.text-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.box {
  flex: 1 0 auto;
  position: relative;
}

.box:after {
  content: "";
  float: left;
  display: block;
  padding-top: 100%;
}

.box .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  color: #45208c;
}
