{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div id="alerts"></div>
<div class="logo-font mt-4 mb-5">
  <h1 class="text-center">driverless</h1>
</div>
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
<link rel="stylesheet/less" href="{{url_for('static', filename='css/beautiful-switch.less')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
<script>
function addAlert(message, error=true) {
  $('#alerts').append(`
    <div class="alert alert-${error ? 'danger' : 'success'} alert-dismissible fade show" role="alert">
      <strong>${error ? 'Error' : 'Success'}</strong> ${message}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>`);
}
</script>
{% endblock %}

{% block html_attribs %} lang="en"{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img class="logo" src="{{url_for('static', filename='img/logo-just-car.png')}}" alt="Logo">
  </a>
  <div id="driverless-navbar">
    <ul class="nav navbar-nav">
      <!-- <li class="nav-item"><a class="nav-link" href="{{ url_for('main.about') }}">About</a></li> -->
    </ul>
  </div>
</nav>
{% endblock %}
