{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/controls.js')}}"></script>
<script src="{{url_for('static', filename='js/update-settings.js')}}"></script>
{% endblock %}

{% block content %}
{{super()}}
<div class="col-sm-12 col-md-10 offset-md-1">
  <div class="row">
    <div class="col-sm-12 col-md-6 mb-3">
      <img class="w-100" src="{{ url_for('main.video_feed') }}">
    </div>
    <div class="col-sm-12 col-md-6">
      <h4>Driving <span class="badge badge-secondary">{{ 'Connected' if car_connected else 'Not connected'}}</span></h4>
      <h4>Camera <span class="badge badge-secondary">{{ 'Connected' if camera_connected else 'Not connected'}}</span></h4>

      <hr>

      <!-- BEGIN directory -->
      <div class="list-inline">

        <div class="list-inline-item">
          Save images to
        </div>

        <div class="list-inline-item">
          <input class="text-input" type="text" placeholder="directory name" id="directory">
        </div>

        <div class="list-inline-item">
          <button id="button-directory" type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
        </div>

      </div>
      <!-- END directory -->

      <hr>

      <!-- BEGIN self-driving -->
      <div class="list-inline">

        <div class="list-inline-item">
          Self-driving
        </div>

        <div class="list-inline-item">
          <button id="button-self-driving" type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
        </div>

      </div>
      <!-- END directory -->

      <hr>

      <p>You can control the car using arrow keys (forward, back, right, left) and space (stop) on the keyboard.</p>

      <form id="update-settings">
        <table class="table mt-3">
          <thead>
            <tr>
              <th scope="col">Direction</th>
              <th scope="col">Speed</th>
              <th scope="col">Steering</th>
              <th scope="col">Duration</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Forward</th>
              <td><input name="speed-forward" class="text-input" type="number" step="0.01" min="-1" max="1" title="Float value between -1 and 1" value="{{ config.get('forward', {}).get('speed', 0.00)}}"></td>
              <td><input name="steering-forward" class="text-input" type="number" step="0.01" min="-1" max="1" title="Float value between -1 and 1" value="{{ config.get('forward', {}).get('steering', 0.00)}}"></td>
              <td><input name="duration-forward" class="text-input" type="number" step="0.01" min="0" max="5" title="Float value between 0 and 5" value="{{ config.get('forward', {}).get('duration', 0.00)}}"></td>
            </tr>
            <tr>
              <th scope="row">Left</th>
              <td><input name="speed-left" class="text-input" type="number" step="0.01" min="-1" max="1" title="Float value between -1 and 1" value="{{ config.get('left', {}).get('speed', 0.00)}}"></td>
              <td><input name="steering-left" class="text-input" type="number" step="0.01" min="-1" max="1" title="Float value between -1 and 1" value="{{ config.get('left', {}).get('steering', 0.00)}}"></td>
              <td><input name="duration-left" class="text-input" type="number" step="0.01" min="0" max="5" title="Float value between 0 and 5" value="{{ config.get('left', {}).get('duration', 0.00)}}"></td>
            </tr>
            <tr>
              <th scope="row">Right</th>
              <td><input name="speed-right" class="text-input" type="number" step="0.01" min="-1" max="1" title="Float value between -1 and 1" value="{{ config.get('right', {}).get('speed', 0.00)}}"></td>
              <td><input name="steering-right" class="text-input" type="number" step="0.01" min="-1" max="1" title="Float value between -1 and 1" value="{{ config.get('right', {}).get('steering', 0.00)}}"></td>
              <td><input name="duration-right" class="text-input" type="number" step="0.01" min="0" max="5" title="Float value between 0 and 5" value="{{ config.get('right', {}).get('duration', 0.00)}}"></td>
            </tr>
            <tr>
              <th scope="row">Back</th>
              <td><input name="speed-back" class="text-input" type="number" step="0.01" min="-1" max="1" title="Float value between -1 and 1" value="{{ config.get('back', {}).get('speed', 0.00)}}"></td>
              <td><input name="steering-back" class="text-input" type="number" step="0.01" min="-1" max="1" title="Float value between -1 and 1" value="{{ config.get('back', {}).get('steering', 0.00)}}"></td>
              <td><input name="duration-back" class="text-input" type="number" step="0.01" min="0" max="5" title="Float value between 0 and 5" value="{{ config.get('back', {}).get('duration', 0.00)}}"></td>
            </tr>
          </tbody>
        </table>
        <input type="submit" class="btn btn-primary" style="background-color: #5a2ab5; border-color: #5a2ab5" value="Update Settings">
      </form>

    </div>
  </div>
</div>
{% endblock %}
